.button-like {
    border: 2px solid #8a8a8a;
    background-color: transparent;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #8a8a8a;
    transition: all ease 0.4s;
    cursor: pointer;
}

.button-like span {
    margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
    transition: all ease 0.4s;
}

.button-like:hover {
    border-color: #dfa974;
}

.button-like:hover .fa {
    color: #dfa974;
}

.button-like:hover .aaa {
    color: #dfa974;
}

.liked {
    background-color: #dfa974;
    border-color: #dfa974;
}

.liked .fa,
.liked span {
    color: #fefefe;
}

/* ------------------- */
.liked:focus {
    background-color: #dfa974;
}

.liked:focus .fa,
.liked:focus .aaa {
    color: #fefefe;
}