.container-calendar{
    width:500px;
    height: 500px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
}

#calendar{
    background-color: white;
    border: none;
}

#fc-dom-1{
    font-size: 25px;
    margin-left: 180px;
}

.fc .fc-daygrid-day-number{
    font-size: 12px;
}

th{
    font-size: 12px;
}


.fc .fc-highlight {
    background: rgba(195, 225, 241, 0.845);
}


#carouselExampleIndicators{
    width: 80%;
    margin: 0 auto;
}

.itrtitle{
    margin-top: 10px;
    text-align: center;
    border: 1px solid rgba(227, 224, 224, 0.897);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
}
h1{
    font-size: 30px;
}

.path{
    margin: 5px 0px 0px 15px;
}

p{
    margin-bottom: 10px;
}

.rating{
    display:flex;
    padding: 0;
    margin: 0px 30px 20px 30px;
}

.rating li{
    list-style-type:none;
}
.rating-item{
    border: 1px solid floralwhite;
    cursor: pointer;
    font-size: 40px;
    color:#002B41;
    }

.rating-item::before{
    content:"\2605";
}

.rating-item.active ~ .rating-item::before{
    content:"\2606";
}

.rating:hover .rating-item::before{
    content:"\2605";
}

.rating-item:hover~ .rating-item::before{
    content:"\2606";
}

.star2
{
    font-size: 30px;
    position: relative;
    display: inline-block;
  }
  .star2 .star-under {
   font-size: 30px;
    color: #ddd;
    vertical-align: top;
  }
  .star2 .star-over {
   font-size: 30px;
    color:#FFFF1D;
    /* color: linear-gradient( rgba(231,221,125,1) 37%, rgba(244,221,117,1) 59%); */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  .star3
{
    font-size: 30px;
    position: relative;
    display: inline-block;
  }
  .star3 .star-under {
   font-size: 30px;
    color: #ddd;
    vertical-align: top;
  }
  .star3 .star-over {
   font-size: 30px;
    color:#FFFF1D;
    /* color: linear-gradient( rgba(231,221,125,1) 37%, rgba(244,221,117,1) 59%); */
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    overflow: hidden;
  }


  .star4
{
    font-size: 20px;
    position: relative;
    display: inline-block;
  }
  .star4 .star-under {
    color: #ddd;
    vertical-align: top;
  }
  .star4 .star-over {
    color:#FFFF1D;
    /* color: linear-gradient( rgba(231,221,125,1) 37%, rgba(244,221,117,1) 59%); */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
  
   .star41
{
    font-size: 20px;
    position: relative;
    display: inline-block;
  }
  .star41 .star-under {
    color: #ddd;
    vertical-align: top;
  }
  .star41 .star-over {
    color: #FFFF1D;
    /* color: linear-gradient( rgba(231,221,125,1) 37%, rgba(244,221,117,1) 59%); */
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    overflow: hidden;
  }
  
  
  
  
    .star5
{
    font-size: 30px;
    position: relative;
    display: inline-block;
  }
  .star5 .star-under {
   font-size: 30px;
    color: #ddd;
    vertical-align: top;
  }
  .star5 .star-over {
   font-size: 30px;
    color:#FFFF1D;
    /* color: linear-gradient( rgba(231,221,125,1) 37%, rgba(244,221,117,1) 59%); */
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    overflow: hidden;
  }
  

  #itr-comment img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 15px;
    margin-bottom: 13px;
    border: 1px solid;
    border-color: rgb(62, 61, 134);

  }

  #itr-comment h3{
 margin: 30px;
  }

  .total-star p{
    width: 80px;
    height: 80px;
    font-size: 30px;
    background: rgb(238,228,167);
    background: linear-gradient(186deg, rgba(238,228,167,1) 1%, rgba(231,221,125,1) 37%, rgba(244,221,117,1) 59%);
    text-align: center;
    line-height: 80px;
    border-radius: 10px;
}



/* ï¿½uï¿½ï¿½ */

.diabtn{
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color:white;
  background-color: #002B41;
}

.modal-header h3{
  font-size:30px;
  font-weight: 700;
  color:#002B41;
  position: absolute;
  top: 8%;
  left:50%;
  transform: translate(-50%, -50%);

}

.modal-content{
  background-color: #E7E7E7;
}

.modal-body form .btn{
  width: 100%;
  font-size: 25px;
  color: white;
}

/* ï¿½sï¿½ï¿½list */

.itrList img {
 object-fit: cover;
/*   max-width: 100%; */
/* 	height:100%; */
	width:286px;
	height:215px;
}

.itrList .upper{
  position: relative;
}
.itrList .innertext{
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.itrList{
  margin:30px 0px;

}


.tag{
  background:#DFA974;
  border-radius: 5px;
  padding: 5px 7px;
  /* font-weight: 700; */
  margin: 5px 3px;
  font-size: 15px;
  color: rgb(34,39,54);
}
.itrList h5{
  font-size: 24px;
  color: rgb(34,39,54);
  margin-bottom: 5px;
  font-weight: 700;
}

.itrList .outer{
  background: white;
  box-shadow: 0 0 8px 0 rgb(143, 144, 138);
  border-radius: 3px;
}

.itrList a{
  color:black;
}

.itrList a:hover{
  text-decoration: none;
}
.itrList .outer:hover {
  transition-duration: 300ms;
  transform: translateY(-5px);
}

.itrList .lower{
  /* height:150px; */
  padding:5px 20px;
}

.fa-map-marker{
  margin-right: 8px;
}

/* .listprice{
  margin-top: 15px;
  margin-left: 10px;
} */

.listprice span:nth-child(2){
  font-size: 25px;
  font-weight: 600;
  margin: 3px;
  color: rgba(239, 44, 73, 0.984);

}




.fa-star {
  font-size: 22px;
  color: yellow;
  text-shadow: 0px 0px 1px rgb(43, 42, 41);
}


.co3{

  margin: 16px 0px;
}


/* ¤é¾ä */


.fc-day{
  border-radius: 10px;

}
.fc-event{ 
  cursor: pointer; 

}
/* .fc td ,.fc th { */
/* /*   border-style: none !important; */ */
/* } */

.fc-day:hover{
  background:rgb(237, 239, 240);
}

.fc-day-today {
  background-color: inherit !important;
}


.container-calendar{
    width:500px;
    height: 500px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    margin-bottom: 2px;
}

#calendar{
    background-color: white;
    /* border: none; */
}

#fc-dom-1{
    font-size: 25px;
    margin-left: 180px;
}

.fc .fc-daygrid-day-number{
    font-size: 12px;
}

th{
    font-size: 12px;
}

.fc-event {
  border: none !important;
/*   background-color: inherit !important;  */
  background-color: #D3A974 !important; 
  font-size:25px;
  font-weight:700;
}

.fc .fc-highlight {
    background: #D3A974 !important;
    border-radius: 10px;
    color:#ddd
}

/* autosearch */

.bar{

  width:80%;
/*   height:50px; */
  border-radius: 10px;
  border: 3px solid #DFA974;
  font-size: 30px;
  padding-left: 30px;
}

.bar:hover{
  box-shadow: 1px 2px 5px rgb(178, 175, 175);
  transition: 500ms;


}

#autoSearch{
  font-size: 26px;
  width:100px;
  height: 50px;
  margin-left: -100px;
  margin-top: 100px;
  background-color: #DFA974;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border:none;
  position: relative;
  color: white;
}

#autoSearch:hover{
  background-color:#D6A26D;
  color:white;
}

.ui-widget{
  font-size: 20px;
  list-style:none;
  transition: 1s;
  background-color: #FFFFFF;
  width: 50%;
/*   opacity: 0.7; */
  border-radius: 20px;
}
.ui-menu-item{
  padding: 5px;
  width: 95%;
  transition: 0.3s;
  text-decoration: none;
}

.ui-menu-item:hover{
  background-color:#FFFFFF ;
  text-decoration: none;
  color: white;
}

.ui-menu-item a,.ui-menu-item li {
text-decoration: none;
display: block;
padding: .2em .4em;
line-height: 1.5;
zoom: 1;
border:none;
}

.ui-menu-item a:hover {
background-color:#EFD8C0 ;
border:none;
color:black;
text-decoration: none;
display: block;
padding: .2em .4em;
line-height: 1.5;
zoom: 1;
}

.ui-autocomplete li.ui-menu-item 
{
    padding: 10px;  
}



.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #F7E4D1 !important;
    font-weight: bold !important;
    color: black !important;
    border:none;
     border-radius: 10px;
} 

/* ¦¬ÂÃ */
#heart {
  color: grey;  
  font-size: 50px;
}

#heart.red {
  color: red;
}

.useriocn {
 border: 1px solid red;
}

 #heart-btn {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 24px;
  }

/* ¦¬ÂÃ */

.wanga {
 color: #000;
}

.wanga:hover,  .wanga:focus {
 text-decoration: none;
 outline: none;
 color: #dfa974;
}



